<div class='row'>
  <div class='col-md-12'>
    <%= form_for(@wish, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <% if @wish.errors.any? %>
      <ul>
        <div class="red-text text-darken-2">
          <% @wish.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      </ul>
    <% end %>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :title %>
        </div>
        <div class='col-md-11'>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Wish title', autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :description %>
        </div>
        <div class='col-md-11'>
          <%= f.text_area :description, class: 'materialize-textarea', placeholder: 'Wish description', data: {length: 200}%>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-md-offset-1 col-md-11'>
          <%= f.submit class: 'btn btn-primary btn-warning pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
