<div class="fixed-action-btn">
  <%= link_to new_wish_path, class:".fixed-action-btn btn-floating btn-large pulse waves-effect waves-light orange" do %>
  <i class="large material-icons">add</i>
  <% end %>
</div>

<% if @wishes.empty? %>
  <h2 id="no-wishes">No wishes created</h2>
<% else %>
  <div class="row">
    <% @wishes.each do |wish| %>
      <div class="col s6 m4">
        <div class="card small">
          <div class="card-image">
            <%= link_to "#{"#modal" + wish.id.to_s}", class: "modal-trigger", id: "#modal + wish.id.to_s" do %>
              <%= image_tag('sample-1.jpg', 'data-target' => "modal" + wish.id.to_s, class: "modal-trigger") %>
              <span class="card-title"><%= wish.title %></span>
            <% end %>
          </div>
          <!-- Provisional -->
          <!-- <div class="card-user">
            <small>User: <%= wish.user.try(:email) %></small>
          </div> -->
        </div>
      </div>
      <%= render "wish_modal", wish: wish %>
    <% end %>
  </div>
<% end %>
