<div class= "content sign-up">

  <h2>Sign up</h2>
  <div class="fields">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field input-field ">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field input-field ">
        <%= f.label :email %><br />
        <%= f.email_field :email%>
      </div>

      <div class="field input-field ">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      </div>

      <div class="field input-field ">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class='actions'>
        <div class='col-md-offset-1 col-md-11'>
          <%= f.submit "Sign up", class: 'btn btn-primary btn-warning pull-right' %>
        </div>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
